name: Deployment Pipeline

run-name: Deployment Pipeline

on:
  workflow_call:
    secrets:
      private_key:
        required: true
      known_hosts:
        required: true
      host_name:
        required: true
      host_ip:
        required: true
      s3_bucket:
        required: true
      aws_region:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
    inputs:
      tag_name:
        required: true
        type: string
      image_name:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Configure SSH Files
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.private_key }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "${{ secrets.known_hosts }}" > ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: SSH Into EC2 & Deploy Container
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no \
            ${{ secrets.host_name }}@${{ secrets.host_ip }} -T "
              echo 'Connected to EC2'
              sudo docker --version
              sudo docker ps -a
      
              echo 'Stopping old container...'
              sudo docker rm -f image-service || true
      
              echo 'Pulling latest image...'
              sudo docker pull ${{ secrets.image_name }}:${{ secrets.tag_name }}
      
              echo 'Starting new container...'
              sudo docker run -d \
                -p 80:5000 \
                --name image-service \
                -e S3_BUCKET_NAME=${{ secrets.s3_bucket }} \
                -e AWS_REGION=${{ secrets.aws_region }} \
                -e AWS_ACCESS_KEY_ID=${{ secrets.aws_access_key_id }} \
                -e AWS_SECRET_ACCESS_KEY=${{ secrets.aws_secret_access_key }} \
                ${{ secrets.image_name }}:${{ secrets.tag_name }}
      
              echo 'Final container state:'
              sudo docker ps -a
            "
