name: Deployment Pipeline

run-name: Deployment Pipeline

on:
  workflow_call:
    inputs:
      private_key:
        type: string
        required: true
      known_hosts:
        type: string
        required: true
      host_name:
        type: string
        required: true
      host_ip:
        type: string
        required: true
      tag_name:
        type: string
        required: true
      s3_bucket:
        type: string
        required: true
      aws_region:
        type: string
        required: true
      aws_access_key_id:
        type: string
        required: true
      aws_secret_access_key:
        type: string
        required: true
      image_name:
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Configure SSH Files
        run: |
          mkdir -p ~/.ssh
          echo "${{ inputs.private_key }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "${{ inputs.known_hosts }}" > ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: SSH Into EC2 & Deploy Container
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no \
            ${{ inputs.host_name }}@${{ inputs.host_ip }} -T "
              echo 'Connected to EC2'
              sudo docker --version
              sudo docker ps -a
      
              echo 'Stopping old container...'
              sudo docker rm -f image-service || true
      
              echo 'Pulling latest image...'
              sudo docker pull ${{ inputs.image_name }}:${{ inputs.tag_name }}
      
              echo 'Starting new container...'
              sudo docker run -d \
                -p 80:5000 \
                --name image-service \
                -e S3_BUCKET_NAME=${{ inputs.s3_bucket }} \
                -e AWS_REGION=${{ inputs.aws_region }} \
                -e AWS_ACCESS_KEY_ID=${{ inputs.aws_access_key_id }} \
                -e AWS_SECRET_ACCESS_KEY=${{ inputs.aws_secret_access_key }} \
                ${{ inputs.image_name }}:${{ inputs.tag_name }}
      
              echo 'Final container state:'
              sudo docker ps -a
            "
